.jumbotron{
    /* background: linear-gradient(121deg, rgba(164,196,252,1) 0%, rgba(90,152,252,1) 35%); */
    /* color: #fff; */
}
.jumbotron h1{
    font-weight: 300;
}
input{
    border-radius: 0!important;
}
.submitRow .btn{
    width: 200px;
    float: right;
    display: block;
    margin:10px 15px  30px;
    border: none;
    background: #5a98fc;
}
.submitRow .btn:hover{
    box-shadow: -1px 7px 19px 1px rgba(90,152,252,0.45);
}
.submitRow{
    justify-content: flex-end;
}
td.buttonCol{
    display: flex;
    max-width: 20px;
}